body{
	font-family: "Slabo 27px";
    box-sizing:border-box;
    background-image: url("../img/pattern.jpg");
    text-decoration: none;
}
section{
	background-color:#ffffff;
	margin-right:15%;
	margin-left:15%;
	padding:25px;
	margin-top:5%;
	margin-bottom:20px;
}
header{
	position:fixed;
	top:0;
    width:100%;
    background-color:#ffffff;
}
ul{
	list-style-type:none;
	margin:0;
	padding:0;
	text-align:right;
	display:inline;
	float:right;
}
li{
	display:inline-block;
	margin:15px;
	color:blue;
	font-weight:bold;
	font-size:18px;
}
img{
	float:left;
}
h1{
	text-align:center;
	font-size:32px;
}
hr{
	border:0.5px solid black;
	margin-bottom:45px;
	margin-top:20px;
}
footer{
	color:#FFFFFF;
	background-color:#000000;
	padding:5px;
	text-align:center;
	margin-bottom:2%;
}